header{
    background-color: brown;
    color: dodgerblue;
    
    }
    main{background: gray;
    }
    p{
        text-align: center;
    }
    footer{background-color: darkred;color: deepskyblue;
    }